<div class="container">
	<h2><%= @pet.name %></h2>
	<p><strong>Type: </strong> <%= @pet.pet_type %></p>
	<p><strong>Breed: </strong> <%= @pet.breed %></p>
	<p><strong>Summary: </strong> <%= @pet.summary %></p>
	<p><%= link_to "Edit Pet Profile", edit_pet_path %></p>
</div>