<a name="about"></a>


    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <h1>Pet Host Admin Area</h1>
            <p><strong>Reservation Requests</strong></p>
            <% @reservation_requests.each do |request| %>
              <div class="alert alert-success" role="alert"><%= request.res_start_date.to_formatted_s(:short) %> to <%= request.res_end_date.to_formatted_s(:short) %> - <%= request.res_details %>
  <a href="#" class="alert-link">Respond</a>
</div>
            <% end %>


            <div id="calendar">
                 <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
    <%= h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
  </h2>
            <%= calendar_for @reservations, :year => @date.year, :month => @date.month do |calendar| %>
            <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')%>
                <% calendar.day(:day_method => :res_start_date) do |date, reservations| %>
                  <%= date.day %>
                    <ul>
                        <% for reservation in reservations %>
                            <%= reservation.res_details %>
                        <% end %>
                    </ul>
                <% end %>
            <% end %>
        </div>
            
            <h4>Profile Info</h4>
            <table>
            	<tr>
            		<td><strong>Display Name:</strong> </td>
            		<td><%= @user.display_name %></td>
            		<td><%= link_to 'Edit profile', edit_sitter_registration_path, :class => 'footer-menu-divider' %></td>
            	</tr>
            	<tr>
            		<td><strong>Website:</strong></td>
            		<td><%= @user.website %></td>
            		<td><%= link_to 'Edit profile', edit_sitter_registration_path, :class => 'footer-menu-divider' %></td>
            	</tr>
                <tr>
                    <td><strong>Rate:</strong></td>
                    <td><%= @user.rate %></td>
                    <td><%= link_to 'Edit profile', edit_sitter_registration_path, :class => 'footer-menu-divider' %></td>
                </tr>                
            	<tr>
            		<td><strong>Description:</strong></td>
            		<td><%= @user.description %></td>
            		<td><%= link_to 'Edit profile', edit_sitter_registration_path, :class => 'footer-menu-divider' %></td>
            	</tr>
            	<tr>
            		<td><strong>Post Code:</strong></td>
            		<td><%= @user.post_code %></td>
            		<td><%= link_to 'Edit profile', edit_sitter_registration_path, :class => 'footer-menu-divider' %></td>
            	</tr>
            </table>
<br>
            <%= link_to 'View Profile', sitter_path(@user.id) %>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
