<% content_for :head do %>
  <title><%= @sitter.display_name %> - Pet Sitters in <%= @city %>, <%= @sitter.post_code %>, UK </title>
<% end %>
<div class="container">
	    <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<h1><%= @sitter.display_name %></h1>
<h4>Pet Sitting in <%= @city %></h4>
<table class="table table-nonfluid">

	<tr><td><strong>Website</strong></td><td><%= link_to @sitter.website, @sitter.website %></td></tr>
	<tr><td><strong>Nightly Rate</strong></td><td> <%= number_to_currency(@sitter.rate, :unit => "£") %></td></tr>
	<tr><td><strong>Overview</strong></td><td><%= @sitter.description %></td></tr>
</table>
<%= form_tag new_reservation_path do %>
<table class="table table-nonfluid">
	<thead><tr><th>Check In</th><th>Check Out</th></tr></thead>
	<tr><td class="col-md-1"><%= date_field(:reservation, :res_start_date, {:order => [:day, :month, :year]}) %></td>
		<td class="col-md-1"><%= date_field(:reservation, :res_end_date) %></td><td><%= hidden_field_tag(:sitter_id, params[:id]) %>
 	 <%= submit_tag("Book Holiday") %></td></tr>
</table>
<% end %>



	<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@sitter.latitude}%2C#{@sitter.longitude}" %>
</div>