
<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if user_signed_in? %>
  <div class="field">
    <%= f.label :reservation_start_date, "Check In: #{Date.parse(params[:reservation][:res_start_date]).to_formatted_s(:short)}"  %>
    <%= f.hidden_field :res_start_date, :value => params[:reservation][:res_start_date]  %>
-
    <%= f.label :reservation_end_date, "Check Out: #{Date.parse(params[:reservation][:res_end_date]).to_formatted_s(:short)}" %><br>
    <%= f.hidden_field :res_end_date, :value => params[:reservation][:res_end_date] %>
  </div>
  <% end %>
  <% if sitter_signed_in? %>
      <% if params[:pet_id].nil? %>
        <div class="field">

          <%= collection_select(:reservation, :id, @pets, :id, :name, {:prompt=>'Please select pet'}, {:class=>'my-custom-class'}) %>
        </div>
        <% end %>
 <div class="field">
  <%= date_field(:reservation, :res_start_date, {:order => [:day, :month, :year]}) %>
</div>
<div class="field">
    <td class="col-md-1"><%= date_field(:reservation, :res_end_date) %>
  </div>
  <% end %>
  <div class="field">
    <% if user_signed_in? %>
    <%= f.hidden_field :res_status, :value => 'Proposed' %>
    <% elsif sitter_signed_in? %>
    <%= f.hidden_field :res_status, :value => 'Accepted' %>
    <% end %>
  </div>
  <% if user_signed_in? %>
  <div class="field">
    <%= f.hidden_field :user_id, :value => @user.id %>
  </div>
  <% end %>
  <% if sitter_signed_in? %>
  <div>
    
  </div>
  <% end %>
  <div class="field">
    <%= f.hidden_field :sitter_id, :value => @sitter.id %>
  </div>
  <div class="form-group" style="width:50%">
    <%= f.label :reservation_details, "Additional Details" %><br>
    <%= f.text_area :res_details, class: 'form-control', placeholder: 'Breed of pet, pick up and drop off requests, any special needs, etc..' %>
  </div>
<% if !params[:pet_id].nil? %><%= f.hidden_field :pet_id, :value => params[:pet_id] %> <% end %>
  <div class="field">
      <% if user_signed_in? %>
    <%= f.label :res_price, "£#{@total_price} for #{@days} days " %><br>
    <%= f.hidden_field :res_price, :value => @total_price %>
    <% elsif sitter_signed_in? %>
    <%= f.label :res_price, "Total Price Charged (numeric value)" %>
  </div><div class="field">
    <%= f.text_field :res_price, placeholder: 'ex 125' %>
      <% end %>
  </div>

  <div class="actions">
    <% if user_signed_in? %>
    <%= f.submit 'Request Reservation' %>
    <% elsif sitter_signed_in? %>
    <%= f.submit 'Create Reservation' %>
    <% end %>
  </div>

<% end %>
