<br>
<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Reservation Status</strong>
  <%= @reservation.res_status %>
</p>

<p>
  <strong>Client:</strong>
  <% if @reservation.user_id.nil? %>
  On-The-Fly Reservation
  <% else %>
  <%= User.find(@reservation.user_id).display_name %>
  <% end %>
</p>

<p>
  <strong>Sitter:</strong>
  <%= Sitter.find(@reservation.sitter_id).display_name %>
</p>

<p>
  <strong>Details:</strong>
  <%= @reservation.res_details %>
</p>

<p>
  <strong>Total Price:</strong>
  <%= @reservation.res_price %>
</p>

<p>
  <strong>Check-In:</strong>
  <%= @reservation.res_start_date %>
</p>

<p>
  <strong>Check-Out:</strong>
  <%= @reservation.res_end_date %>
</p>

<%= link_to 'Back', reservations_path %>
</div>
